---
layout: archive
---

<meta property="og:image" content="https://thelastcallproject.com/homepage_thumbnail.png"
<meta property="og:image:secure_url" content="https://thelastcallproject.com/homepage_thumbnail.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="840">
<meta property="og:image:height" content="560">
<meta property="og:image:alt" content="A picture of an old dive bar in New York City">

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
